{{ template "header". }}
        <main class="py-4">
            <div class="row">
                <h4> MedAkcess Admin Home </h4>
            </div>
            <div class="row d-flex justify-content-center">
                <a href="/admin/users" class="col-md-4 text-center card">
                    <div class="col-md-4 text-center card">
                        <i class="fa fa-users options"></i> Users
                    </div>
                </a>
                <a href="#" class="col-md-4 text-center card">
                    <div class="col-md-4 text-center card">
                        <i class="fa fa-calendar options"></i> Calendar
                    </div>
                </a>
            </div>
            <div class="row d-flex justify-content-center">
                <a href="#" class="col-md-4 text-center card">
                    <div class="col-md-4 text-center card">
                        <i class="fa fa-sign-out options"></i> Log Out
                    </div>
                </a>
                <a href="#" class="col-md-4 text-center card">
                    <div class="col-md-4 text-center card">
                        <i class="fa fa-cogs options"></i> Preferences
                    </div>
                </a>
            </div>
        </main>
    </div>
{{ template "footer". }}